{:paths ["src" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.866"}
        org.clojure/core.async {:mvn/version "0.7.559"}
        lilactown/helix {:mvn/version "0.0.14"}
        funcool/promesa {:mvn/version "5.1.0"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.1"}
        medley/medley {:mvn/version "1.2.0"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.0"}
        keechma/next {:mvn/version "0.1.2"}
        keechma/router {:mvn/version "1.0.0"}
        keechma/entitydb {:mvn/version "2.0.6"}
        keechma/pipelines {:mvn/version "0.0.7"}
        keechma/forms {:mvn/version "0.1.7"}
        keechma/malli-forms {:git/url "https://github.com/keechma/keechma-malli-forms"
                             :sha "87f8718741a9d33c00f35dbb403dbab25153acb8"}
        cljs-bean/cljs-bean {:mvn/version "1.5.0"}
        binaryage/oops {:mvn/version "0.7.1"}
        metosin/malli {:mvn/version "0.6.1"}}}
